@import "~@blueprintjs/core/lib/scss/variables";
@import "./grid.scss";
@import "./tasks.scss";

body {
	margin: 0;
	padding-top: calc(#{$pt-navbar-height} + 10px);
	background-color: rgb(216, 216, 216);
}

.mid-overlay {
    position: fixed;
	margin-top: calc(#{$pt-navbar-height} + 10px);
	width: 50vw;
	margin-right: auto;
	margin-left: auto;
}

// This is a bad idea, but I could not find another way
.overlay-backdrop {
    z-index: -1;
}

.alt-action-text {
    text-decoration: underline;
    font-style: italic;
    float: right;
}

.page-spinner {
    margin-top: 30vh;
}

.page-non-ideal {
    margin-top: 20vh;
}

.m-top-10 {
    margin-top: 10px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-top-30 {
    margin-top: 30px;
}

.side-menu {
    height: 100vh;
    box-shadow: 0px 0px 10px 0px grey;
    z-index: 15;
    position: absolute;
}

.left-overlay {
    position: fixed;
}

.side-menu {
    min-height: 100vh;
    padding: 0;
}
