.teams-column {
    float: left;
    height: -webkit-fill-available;
    overflow-x: scroll;
    margin-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    width: 40vh;
    border-right: 2px solid #c3c2c2;
}

.team-view {
    margin-left: 320px;
    margin-right: 10px;
}